@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 8% 95%;
    --foreground: 240 8% 5%;

    --card: 260 10% 94%;
    --card-foreground: 256 67% 21%;

    --popover: 260 10% 94%;
    --popover-foreground: 240 8% 5%;

    --primary: 256 67% 21%;
    --primary-foreground: 300 9% 98%;

    --secondary: 260 12% 91%;
    --secondary-foreground: 240 8% 5%;

    --muted: 255 8% 91%;
    --muted-foreground: 257 9% 45%;

    --accent: 255 8% 91%;
    --accent-foreground: 240 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 9% 87%;
    --input: 260 9% 80%;
    --ring: 257 36% 72%;

    --radius: 0.5rem;

    --sidebar-background: 276 12% 93%;
    --sidebar-foreground: 240 8% 5%;
    --sidebar-primary: 256 67% 21%;
    --sidebar-primary-foreground: 300 9% 98%;
    --sidebar-accent: 255 8% 91%;
    --sidebar-accent-foreground: 240 8% 5%;
    --sidebar-border: 260 9% 87%;
    --sidebar-ring: 260 9% 80%;
  }
  
  .dark {
    --background: 0 7% 8%;
    --foreground: 300 9% 98%;

    --card: 0 6% 10%;
    --card-foreground: 300 9% 98%;

    --popover: 0 6% 10%;
    --popover-foreground: 300 9% 98%;

    --primary: 356 61% 42%;
    --primary-foreground: 300 9% 98%;

    --secondary: 353 8% 19%;
    --secondary-foreground: 300 9% 98%;

    --muted: 0 7% 29%;
    --muted-foreground: 357 8% 49%;

    --accent: 357 71% 19%;
    --accent-foreground: 300 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 8% 12%;
    --input: 353 9% 18%;
    --ring: 356 61% 40%;

    --sidebar-background: 0 7% 8%;
    --sidebar-foreground: 300 9% 98%;
    --sidebar-primary: 356 61% 42%;
    --sidebar-primary-foreground: 300 9% 98%;
    --sidebar-accent: 357 71% 19%;
    --sidebar-accent-foreground: 300 9% 98%;
    --sidebar-border: 0 8% 12%;
    --sidebar-ring: 356 61% 40%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
